<section section id="" class="text-dark">
  <div class="container-fluid p-2">
    <div class="container-fluid">
      <div class="row">
        <div
          class="col-lg-12 p-3 shadow rounded-3"
          style="background-color: white; height: fit-content"
        >
          <div class="col-3" style="width: 75%">
            <h4 class="display-6"><strong>Sucursal</strong></h4>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="nuevaSucursal.nombre"
              placeholder="Sucursal"
            />
          </div>
          <div class="col">
            <h4 class="display-6"><strong>Descripciones</strong></h4>
            <div class="form-floating">
              <textarea
                class="form-control"
                style="border-radius: 5px; height: 75px"
                [(ngModel)]="nuevaSucursal.descripcion"
                placeholder="DESCRIPCION"
              ></textarea>
            </div>
          </div>

          <button
            class="btn btn-light shadow col-2"
            (click)="guardarSucursal(nuevaSucursal)"
            style="margin-top: 10px"
          >
            Guardar Sucursal
            <i class="bi bi-file-plus"></i>
          </button>
        </div>

        <div
          class="col-lg-12 p-3 shadow rounded-3"
          style="background-color: white; margin-top: 2%"
        >
          <input
            type="text"
            [(ngModel)]="buscar"
            placeholder="Buscar Extension"
            class="form-control mb-2"
          />
          <table class="table table-borderless">
            <thead>
              <tr>
                <th class="display-6"><strong>Titulo</strong></th>

                <th class="display-6"><strong>Extension</strong></th>
              </tr>
            </thead>
            <tbody *ngFor="let entension of sucursales | filter: buscar">
              <tr>
                <td class="col-2">{{ entension.nombre }}</td>
                <td class="col-8">
                  <textarea
                    class="form-control"
                    style="
                      border-radius: 5px;
                      height: 75;
                      background-color: #63000000;
                      border: #63000000;
                    "
                    disabled
                    >{{ entension.descripcion }}</textarea
                  >
                </td>
                <div class="form-check form-check-inline">
                  <button
                    class="btn btn-outline-warning rounded-3"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Editar"
                    (click)="editarSucursal(entension)"
                  >
                    <i class="bi bi-pencil-square"></i>
                  </button>

                  <button
                    class="btn btn-outline-danger rounded-3"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Borrar"
                    (click)="borrarSucursal(entension._id)"
                  >
                    <i class="bi bi-trash"></i>
                  </button>
                </div>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 p-2">
    <input
      type="file"
      class="btn btn-light shadow col-lg-8 me-2"
      (change)="cargarExcel($event)"
      placeholder="Selecione excel"
    />
    <button
      (click)="guardarExcel()"
      *ngIf="excelCargado"
      class="btn btn-light shadow col-lg-3"
    >
      Guardar Excel
    </button>
    <a
      *ngIf="!excelCargado"
      href="assets/Plantilla para carga de Extensiones.xlsx"
      download="Plantilla Extensiones.xlsx"
      class="btn btn-light shadow col-lg-3"
      >Descargar Plantilla</a
    >
  </div>
</section>
