<section
  id="home"
  class="text-dark "
  style=" height: 100%"
>
  <div class="container-xxl animate__animated animate__fadeIn animate__delay-0.5s">
    <div class="row p-4">
      <!-- <p><ngb-progressbar [value]="progreso"></ngb-progressbar></p> -->
      <app-message></app-message>

      <ngb-carousel
        class="col-6"
        style="text-align: center"
        *ngIf="tienenAnuncios"
      >
        <ng-template *ngFor="let anuncio of anuncios" ngbSlide>
          <div>
            <h3>{{ anuncio.titulo }}</h3>
            <p>{{ anuncio.descripcion }}</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>

    <div class="row">
     

      <div *ngFor="let ruta of rutas" class="col-6 mb-6 p-5">
        <div
          class="shadow scale rounded-3 animate__animated animate__fadeIn animate__delay-0.5s" 
          [style.background-color]="ruta.color"
          style="height: 150%; width: 100%"
          [routerLink]="ruta.ruta"
        >
          <div class="text-center" style="padding: 10px">
            <div>
              <h5
                class="card-title fs-2 animate__animated animate__bounceIn animate__delay-1s"
                style="
                  white-space: normal;
                  margin-top: 15%;
                  font-family: Arial, Helvetica, sans-serif;
                "
              >
                <strong>
                  {{ ruta.nombre }} <i [classList]="ruta.icono"></i
                ></strong>
              </h5>

              <p class="card-text animate__animated animate__bounceIn animate__delay-1s">{{ ruta.texto }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <ngb-pagination [collectionSize]="totalEstudios" [pageSize]="12" [(page)]="pagina"
                aria-label="Default pagination" (pageChange)="obtenerEstudios($event)"></ngb-pagination> -->
  </div>

  <!-- <div class="col-md-8 form-group">        
    <input type="file" class="form-control" (change)="addfile($event)">        
    <button (click)="sowexcel()"></button>
  </div>     -->
</section>
