<section id="profile">
  <div class="container p-5">
    <h4 class="display-4">Mi Perfil</h4>

    <div *ngIf="!data.user" class="m-auto">
      <h1 class="text-center display-3 mt-5">
        <i class="spinner-grow" role="status"></i>
      </h1>
    </div>
    <div *ngIf="data.user" class="row mt-5">
      <div class="col-md-3" *ngIf="data.user.picture">
        <img [src]="data.user.picture" alt="userimage" class="rounded-circle image">
      </div>
      <div class="col-md-8 ml-3">
        <p id="name" class="lead">{{ data.user.nombre }}</p>
        <!-- <a routerLink="/profile/orders" class="btn btn-outline-secondary">Mis Ordenes</a> -->
        <br>
        <br>
        <a routerLink="/profile/settings" class="btn btn-outline-secondary">Cambiar Cuenta</a>
        <br>
        <br>
        <!-- <a routerLink="/profile/address" class="btn btn-warning">Change Shipping Address</a> -->
        <br>
        <br>
        <div class="" *ngIf="data.user.esAdministrador">
          <p class="lead">Opciones de Administrador</p>
          <div class="row">
            <div class="col-md-6 mb-3">
              <a routerLink="/profile/register" class="btn btn-outline-info btn-block">Registrar Usuario</a>
            </div>
            <div class="col-md-6 mb-3">
              <a routerLink="/profile/postproduct" class="btn btn-outline-success btn-block">Publicar estudios</a>
            </div>
            <div class="col-md-6">
              <a routerLink="/profile/myproducts" class="btn btn-outline-info btn-block">Mis Estudios</a>
            </div>
            <div class="col-md-6 mb-3">
              <a routerLink="/profile/" class="btn btn-outline-success btn-block">Registrar Doctor</a>
            </div>
            <div class="col-md-6 mb-3">
              <a routerLink="/profile/" class="btn btn-outline-success btn-block">Registrar Sucursal</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>