<section id="settings">
  <div class="container p-5">
    <h4 class="display-4">Configuaracion de mi cuenta</h4>
    <app-message></app-message>
    <div *ngIf="!currentSettings" class="m-auto">
      <h1 class="text-center display-3 mt-5">
        <i class="spinner-grow" role="status"></i>
      </h1>
    </div>
    <div *ngIf="currentSettings" class="">
      <div class="card-body">
        <form>
          <div class="form-group">
            <label class="form-control-label">Nombre</label>
            <input type="text" name="name" class="form-control" [(ngModel)]="currentSettings.nombre">
          </div>
          <div class="form-group">
            <label class="form-control-label">Email</label>
            <input type="email" name="email" class="form-control" [(ngModel)]="currentSettings.email">
          </div>
          <div class="form-check" *ngIf="data.user.esAdministrador">
            <label class="form-check-label">
              <input type="checkbox" name="isSeller" class="form-check-input"
                [(ngModel)]="currentSettings.esAdministrador">Es administrador
            </label>
          </div>
          <div class="form-group">
            <label class="form-control-label">Nueva Contrasena</label>
            <input type="password" name="newPwd" class="form-control" [(ngModel)]="currentSettings.newPwd">
          </div>
          <div class="form-group">
            <label class="form-control-label">Confirma la Contrasena</label>
            <input type="password" name="pwdConfirm" class="form-control" [(ngModel)]="currentSettings.pwdConfirm">
          </div>
          <button type="button" class="btn btn-danger" (click)="update()" [disabled]="btnDisabled">Actualizar</button>
        </form>
      </div>
    </div>
  </div>
</section>