<section class="text-dark" style="background-color: #e3f2fd">
  <div class="container-fluid p-2">
    <div class="container-fluid">
      <div class="row">
        <h4 class="display-4"><strong>Informacion de Extensiones</strong></h4>
        <input
          type="text"
          [(ngModel)]="busqueda"
          placeholder="Buscar Extension"
          class="form-control shadow mb-2 p-4"
        />
        <table
          class="table shadow p-3 rounded-3 table table-borderless"
          style="background-color: white"
        >
          <thead>
            <tr>
              <th class="display-6"><strong> Personal </strong></th>
              <th class="display-6"><strong> Extension </strong></th>
            </tr>
          </thead>

          <tbody *ngFor="let extension of extesnsiones | filter: busqueda">
            <tr>
              <td class="col-7">{{ extension.personal }}</td>
              <td class="col-5">{{ extension.extension }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
